@media screen and (max-width: 1200px) {
    .container {
        max-width: 100%;
        paddIng: 0 1.5%;
    }
}
  
@media screen and (max-width: 1024px) {
    .container {
        width: 87.2rem;
      }
      section {
        padding: 8rem 0;
      }

    .about-grid {
        text-align: center;
        font-size: 1.2rem;
        line-height: 0;
    }
    .about-grid img {
        width: 30rem;
    }
   
    .work-grid-item img {
        width: 90%;
         height: 90%;
    }

    .about-grid-item p {
        width: 70%;
        margin: 1rem auto;
        text-align: justify;
    }

    .work-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .work-grid-item {
        height: auto;
    }

    .work-grid-item:nth-child(7) {
        grid-column: 1/3;
    }

    .contact-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3rem;
      }
      .contact-nested-grid-item {
        width: 350px;
        padding: 2rem;
    }

    .footer-grid-item:nth-child(4) {
        padding-top: 8rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0;
    }

    .gallery-grid {
        padding-top: rem;
    }

    .gallery-grid-item img {
        width: 80rem;
        height: 5rem;
    }
    footer {
        padding: 8rem 0;
      }
}


@media screen and (max-width: 768px) {
    html {
        font-size: 63%
    } 
    .container {
        width: 60.9rem;
    }
      section {
        padding: 3rem 0;
    }
    #about h2 {
        font-size: 3em;
    }
    #portfolio h2 {
        font-size: 4rem;
    }
    #service h2 {
        font-size: 4rem;
    }
    #blog h2 {
        font-size: 4rem;
    }
    #contact h2 {
        font-size: 4rem;
    }
    #testimonial h2 {
        font-size: 4rem;
    }

    /* hero */
    .hero-content-box h1 {
        font-size: 4rem;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: .01rem;
        margin: 1rem 0;
    }
    .hero-title a {
        padding: 1rem 1rem;
        margin-top: 1rem;
        width: 15rem;
        font-size: 1.5rem;
      }

    /* hero button */
    .uk-button {
        padding: 0rem 0rem;
        margin-top: 1rem;
        width: 15rem;
    }
    .uk-button a {
        font-size: 1.5rem;
        text-transform: capitalize;
    }

    /* about */
    .about-grid-item p {
        width: 100%;
    }
    .work-grid-item:nth-child(7) {
        width: 62rem;
        height: 100%;
    }

    /* service */
    .form-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .form-grid-item {
        height: 330px;
        width: 500px;
        margin: auto;
    }
    .form-grid-item p {
        font-size: 1.4rem;
    }
    #service h2 {
        font-size: 3rem;
    }
    .service-grid-item {
        padding: 1.5rem 0.5rem;
    }
    .service-grid-item h3 {
        margin: 0;
        padding: 0;
        font-size: 1.6rem;
        color: #000;
    }
    .service-grid-item p {
        font-size: 1.4rem;
        text-align: justify;
    }


    /* blog */
    .blog-grid, .contact-grid {
        grid-template-columns: 1fr;
    }
    .blog-grid-item {
        height: 30rem;
        width: 40rem;
        padding: 0rem 0rem;
        margin: auto; 
       
    }
    .blog-grid-item img {
        width: 20rem;
        height: 10rem;
        margin: 3rem 9rem 0rem;
    }
    .blog-text {
    margin: 0;
    }
    .blog-text p{
        margin: 0;
        font-size: 90%;
        line-height: 1.7;
    }
    .blog-text a {
        font-size: 1.8rem;
    }
    .blog-button {
        text-align: center;
    }

    /* contact */
    .contact-grid-item {
        height: 610px;
    }

    /* testimonial */
    .testimonial-grid-item {
        margin-top: -4rem;
        margin-bottom: -2rem;
    }
    .testimonial-grid-item p {
        font-size: 1.5rem;
    }
    .testimonial-grid-item .signature {
        margin: 0rem;
    }
   
    /* footer */
    footer {
        padding: 4rem 0;
      }

    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-bottom span {
        font-size: 1.3rem;
    }
    .totop {
        margin-left: 55%;
        margin-bottom: 0;
      }
}


@media screen and (max-width: 480px) {
    html {
        font-size: 55.5%
    } 
    .container {
        width: 38rem;
    }
      section {
        padding: 2rem 0;
    }
    #about h2 {
        font-size: 2em;
    }
    #portfolio h2 {
        font-size: 3rem;
    }
    #service h2 {
        font-size: 3rem;
    }
    #blog h2 {
        font-size: 3rem;
    }
    #contact h2 {
        font-size: 3rem;
    }
    #testimonial h2 {
        font-size: 3rem;
    }


    /* about */
    .about-grid {
        grid-template-columns: 1fr;
    }
    .about-grid-item img {
        height: 200px;
    }
    .about-grid-item p {
        line-height: 1.2;
        margin: 0;
        padding: 0;
    }

    /* portfolio */
    .work-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }
      .work-grid-item:nth-child(7) {
        grid-column: 1/3;
      }
      .work-grid-item img:nth-child(7) {
        width: 200px; 
      }
      .m7 img {
        width: 308px;
        height: 90px;
      }


      /* service */
      .service-grid {
        grid-template-columns: 1fr;
      }
      
      .form-grid-item img {
        width: 299px;
        margin: auto;
      }
      .form-grid-item:nth-child(2) {
            width: 350px;
            margin: 0 auto;
      }


   /*

    .process-grid, .work-grid, .testimonial-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    #testimonial {
        background-image: none;
        background-color: #c8c8c8;
    }
    .testi-short-img {
        width: 20rem;
        display: block;
    }
    */
}
